* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  padding: 30vh 0;
  background-color: tomato;
  border: 2rem solid yellow;
  height: 100vh;
}

h1, header p {
  text-align: center;
}

h1, h2, h3, nav a {
  font-family: 'Eczar', serif;
}

h1 {
  font-weight: 700;
  font-size: 5rem;
  color: yellow;
}

header p {
  font-size: 2rem;
}

nav {
  background-color: tomato;
  position: sticky;
  top: 0;
  min-height: 10vh;
}

nav ul {
  margin-top: 0;
  padding: 1.5rem 5vw;
}

nav ul li {
  display: inline-block;
  float: right;
  padding-left: 1.5rem;
}

nav a, nav a:visited {
  text-decoration: none;
  font-weight: 400;
  font-size: 1.5rem;
  color: yellow;
}

nav a:hover {
  color: green;
}

aside, section {
  min-height: 100vh;
    padding: 10vh 2rem 3rem;
}

h2 {
  font-weight: 600;
  font-size: 2rem;
}
